body {
  background-color: blanchedalmond;
}

.trackerLabel {
  color: #0275d8;
  font-weight: bold;
}

input {
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
