body {
  background-color: blanchedalmond;
  font-size: x-small;
}

.trackerLabel {
  color: #0275d8;
  font-weight: bold;
}

input,
.winPercentage, .unitCount {
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.label {
  font-weight: bold;
}

.winPercentage, .unitCount {
  vertical-align: middle;
  font-weight: bold;
}
