body {
  background-color: blanchedalmond;
  font-size: x-small;
}

.tobiNBALabel,
.weAreVegasLabel,
.unitLabel,
.spreadLabel,
.OULabel {
  color: #0275d8;
  font-weight: bold;
}

input,
.tobinWinPercentage,
.tobinSpreadWinPercentage,
.tobinUnitSelect,
.weAreVegasSpreadWinPercentage,
.weAreVegasWinPercentage,
.weAreVegasUnitSelect {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.label {
  font-weight: bold;
}

/* .tobinWinPercentage,
.tobinSpreadWinPercentage,
.tobinUnitSelect,
.weAreVegasWinPercentage,
.weAreVegasSpreadWinPercentage,
.weAreVegasUnitSelect {
  vertical-align: middle;
  font-weight: bold;
} */
